<div id="modal-contacts">
    <a href="#" class="modal-close"><i class=" icon-cancel-circled-outline"></i></a>
    <div class="container">

        <div class="row">

            <div class="col-md-12">
                <h3>Contacts</h3>
                <div id="map"></div><!-- end map-->
                <hr>
            </div>
        </div><!-- End row -->

        <div class="row">

            <div class="col-md-4">
                <h4>From the airport <i class=" icon-flight-1 pull-right"></i></h4>
                <ul class="list">
                    <li>Vix in error iuvaret, at omnium prompta aliquam vel. Sea an purto vide posidonium, eos modus dicit ne.</li>
                    <li>Appetere dignissim vis et. Te per dolore expetenda voluptaria, an eam autem perfecto patrioque.</li>
                </ul>
            </div>

            <div class="col-md-4">
                <h4>From the station <i class=" icon-rail pull-right"></i></h4>
                <ul class="list">
                    <li>Vix in error iuvaret, at omnium prompta aliquam vel. Sea an purto vide posidonium, eos modus dicit ne.</li>
                    <li>Appetere dignissim vis et. Te per dolore expetenda voluptaria, an eam autem perfecto patrioque.</li>
                </ul>
            </div>

            <div class="col-md-4">
                <h4>By car <i class="icon-road pull-right"></i></h4>
                <ul class="list">
                    <li>Vix in error iuvaret, at omnium prompta aliquam vel. Sea an purto vide posidonium, eos modus dicit ne.</li>
                    <li>Appetere dignissim vis et. Te per dolore expetenda voluptaria, an eam autem perfecto patrioque.</li>
                </ul>
            </div>
        </div><!-- End row -->

        <div class="row">
            <div class="col-md-12">
                <ul id="contact_info">
                    <li><strong>Address</strong> Street Number & Name - Postal Code 2034 BXU</li>
                    <li><strong>Telephone</strong> +353 1 234 566 78 / +353 1 234 566 78</li>
                    <li><a href="#">info@emailaddress.com</a> - <a href="#">www.magnolia.com</a></li>
                </ul>
            </div>
        </div>

    </div><!-- End conainer -->
</div><!-- End modal -->
