<div id="modal-about">
    <a href="#" class="modal-close"><i class=" icon-cancel-circled-outline"></i></a>
    <div class="container">

        <div class="row">

            <div class="col-md-12 text-center">
                <h3>OPEN HOTEL SPA &amp; BEACH</h3>
                <p class="lead">
                    Appetere dignissim vis et. Te per dolore expetenda voluptaria, an eam autem perfecto patrioque.
                </p>
            </div>
        </div><!-- End row -->

        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <p>
                    HOTEL OPEN SPA &amp; BEACH Antalya, Kaleiçi'a 2,7 km uzaklıkta ve ücretsiz otopark, açık havuz, sağlık merkezi sunmaktadır. Şehir Merkezi semtinde yer alan otel, 2,6 km mesafedeki Hadrian Kapısı gibi popüler turistik mekanlara yakındır.<br /><br />
                    Antalya şehir merkezi otele 2 km uzaklıkta, Atatürk Bulvarı'a ise arabayla birkaç dakikada ulaşılabilir.<br /><br />
                    Bu, odalarda uydu televizyonu, kasa, minibar buzdolabı ile konaklamadır.<br /><br />
                    Restoran, kahvaltıya 07:00 ile 10:00 saatleri arasında açıktır. Usta Lahmacun, otele 5 dakikalık yürüme mesafesindedir. Bu otel, 11147 otobüs terminaline 5 dakikalık yürüme mesafesindedir. Konuklar fitnes merkezinden, yüz bakımından ücretsiz yararlanabilir. Mevsimlik açık havuzun yanı sıra spor merkezi bu otelin özellikleridir.
                </p>
            </div>
        </div><!-- End row -->

        <hr>

        <div class="row" style=" margin-bottom:30px">
            <div class="col-md-4 text-center">
                <p class="photo_polaroid"><img src="~/site/img/restoran.jpg" alt="Pic" class="img-responsive"></p>
                <h4>Restoran</h4>
                <p>Misafirlerimizin yiyecek ve içecek konusundaki farklı beklentilerini, farklı konseptlerde restoran ve barlarında karşılayan Susesi Luxury Resort'de aradığınız lezzetleri yakalayacaksınız. Dünya mutfaklarından seçmeler ve bölgesel tatları bir arada bulabileceğiniz zengin menülerimizi ve özel kokteyllerimizi beğenilerinize sunuyoruz.</p>
            </div>
            <div class="col-md-4 text-center">
                <p class="photo_polaroid"><img src="~/site/img/spa.jpg" alt="Pic" class="img-responsive"></p>
                <h4>SPA</h4>
                <p>La Calisse SPA Merkezi; özgün dekoru ve özel servisleri ile 4 adet çift kişilik VIP SPA Süitleri, 2 Ayurveda odası, 20 adet bakım ve masaj odası, yine 1 tanesi VIP olmak üzere 2 adet hamamı, sauna, buhar banyosu, hydro bath odası, afizyon duşu, dinlenme bölümü, vitamin barı ile 2 adet kapalı havuzları ve profesyonel donanımlı fitness merkezi ile 4.500 m²’lik devasa bir alan üzerinde hizmet vermektedir.</p>
            </div>
            <div class="col-md-4 text-center">
                <p class="photo_polaroid"><img src="~/site/img/beach.jpg" style="max-height: 230px;" alt="Pic" class="img-responsive"></p>
                <h4>Spor Aktivite</h4>
                <p>Zinde ve fit olmak istiyorsanız, ister plajda, ister havuzda, isterseniz denizde profesyonel eğitmenlerin gözetiminde sizler için hazırladığımız aktivitelere katılarak kendinizi çok daha iyi hissedeceksiniz.</p>
            </div>
        </div><!-- End row -->

    </div>

</div><!-- End conainer -->
